@if(isAddingTask) {
    <app-new-task (cancelAddTask)="onCancelAddTask($event)" (addTask)="onAddTask($event)"/>
}
<section id="tasks">
    <header>
        <h2>{{name}}'s Tasks</h2>
        <menu>
            <button (click)="onStartAddTask()">Add Tasks</button>
        </menu>
    </header>
    <ul>
        @for (task of selectedUserTasks; track task.id) {
            <li>
                <app-task [task]="task" (completeTask)="onCompleteTask($event)"/>
            </li>
        }
    </ul>
</section>